
/* Hoja de estilos para la página de biografía */


@import url('../vars.css');
@import url('../base.css');

/* Título principal de la biografía */


.bio-titulo {
    text-align: center;
    color: var(--primary-color);
    font-size: 3rem;
    margin: 50px 0;
}

/* Contenedor principal de la biografía */

.container-bio {
    display: grid;
    grid-template-columns: 350px 1fr; 
    max-width: 1300px; 
    margin: 0 auto;
    gap: 40px;
    padding: 0 20px 50px;
}

.bio-detalles {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: var(--shadow-card);
    height: fit-content;
}
 
/* Detalles individuales de la biografía */

.detalle {
    background: rgba(255, 255, 255, 0.5); 
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    gap: 15px;
}

/* Icono dentro del detalle */

.detalle-icono {
    background: var(--white);
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

/* Información dentro del detalle */

.detalle-info strong {
    display: block;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.bio-contenido {
    background: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: var(--shadow-card);
}

/* Contenido de la biografía */

.bio-contenido h2 {
    border-bottom: 2px solid var(--bg-page);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Párrafos de la biografía */

.bio-contenido p {
    line-height: 1.8;
    margin-bottom: 20px;
    color: #444;
    text-align: justify;
}

/* Flechas inferiores de la biografia */
.navegacion-flechas {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

/* Estilo de los enlaces de navegación */

.nav-link {
    text-decoration: none;
    color: var(--primary-color);
    padding: 12px 25px;
    border: 1px solid #ddd;
    border-radius: 50px;
    transition: 0.3s;
}

.nav-link:hover {
    background: var(--bg-page);
}