/* Hoja de estilos para la página de inicio */

@import url('../vars.css');
@import url('../base.css');


/* Título principal de la biografía */

.bio-titulo {
    text-align: center;
    font-size: 3.5rem;
    color: var(--primary-color);
    margin: 40px 0;
    font-weight: 900;
}

/* Contenedor principal de la biografía */

.container-bio {
    display: flex;
    max-width: 1200px; 
    margin: 0 auto;
    gap: 40px;
    padding: 20px;
    align-items: flex-start;
}

/* Detalles de la biografía */

.bio-detalles {
    flex: 1;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--shadow-card);
}

.bio-detalles h2 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}

/* Detalles individuales de la biografía */

.foto-box {
    margin-top: 20px;
    text-align: center;
}

.foto-box img {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    border: 5px solid var(--bg-page);
}

.bio-contenido {
    flex: 1;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--shadow-card);
}

/* Contenido de la biografía */

.gustos-lista {
    list-style: none;
    padding: 0;
}

.gustos-lista li {
    background: #c8e6c9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    color: #2e7d32;
    font-weight: 600;
    transition: 0.3s;
}

.gustos-lista li:hover {
    background: var(--primary-color);
    color: white;
    transform: scale(1.02);
}

/* Botones de cambio de vista */

.navegacion-flechas {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    justify-content: center;
}
/* Estilo de los cambios de vista */

.nav-link {
    text-decoration: none;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    transition: 0.3s;
}
/* Efecto para los cambios de vista */

.nav-link:hover {
    background: var(--primary-color);
    color: white;
}