.container-bio {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto 50px auto; /* Centra el contenedor y da espacio abajo */
    padding: 20px;
}

@media (max-width: 900px) {
    .container-bio {
        grid-template-columns: 1fr;
    }
}