.nav-link {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--primary-color);
    padding: 12px 30px;
    background: var(--white);
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-weight: bold;
    transition: 0.3s ease;
}

.nav-link:hover {
    background: var(--primary-color);
    color: var(--white);
    transform: scale(1.05); /* Se agranda un poquito al pasar el mouse */
}