/* estilos para el sitio web */

@import url('vars.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo base para el cuerpo */

body {
    background-color: var(--bg-page);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Arreglo para que las tarjetas blancas resalten sobre el fondo menta */

.bio-detalles, .bio-contenido, .carrera-card, .form-container {
    background-color: var(--white) !important;
}