.nav-header {
    background: var(--white);
    padding: 1rem 2rem;
    display: flex;
    gap: 20px;
    box-shadow: var(--shadow);
    justify-content: center;
}

.nav-header a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: 0.3s;
}

.nav-header a:hover {
    background: var(--primary-color);
    color: var(--white);
}

.container-bio {
    display: flex;
    max-width: 1000px;
    margin: 40px auto;
    gap: 30px;
    padding: 20px;
}