/* Variables de colores y estilos globales */

:root {
    --primary-color: #55b0a6; /* Verde Kinal principal */
    --accent-color: #3d867d;
    --bg-page: #e0f2f1;      
    --white: #ffffff;
    --shadow-card: 0 4px 20px rgba(0,0,0,0.08);
    --radius: 15px;
}